@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&&display=swap');

.App {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
  font-family: 'Inter', sans-serif;
}

.recipeList {
  background-color: #D4A373;
  width: 15em;
  font-size: 1.2rem;
  font-weight: 500;
}
/* 
.collection .child {
  margin-top: -1px;
  margin-left: -1px;
} */

.listItem {
  height: 1.25em;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid white;
  margin-top: -1px;
  margin-left: -1px;
}

.listItem:hover {
  background-color: #E9EDC9;
}

.activeItem {
  background-color: #ccd5ae;
}

h1 {
  height: 50px;
  margin: 0;
}

.recipe {
  background-color: #FAEDCD;
  height: 100%;
  width: 100%;
  padding: 0.75em;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.recipeTitle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.recipeBody {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}


.recipePartTitle {
  text-transform: capitalize;
  padding: 10px 0;
  margin: 0;
}

.recipePart {
  padding: 10px auto;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  text-align: start;
}

.recipeForm {
  background-color: #FAEDCD;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0.75em;

  display: flex;
  flex-flow: column;
  justify-content: stretch;
  align-items: stretch;
}

.inputRecipe {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.inputPartGroup {
  flex-grow: 1;
  margin: 10px 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

#inputNameGroup {
  flex-grow: 0;
}

.inputArea {
  flex-grow: 1;
}


